@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome aboard!</h1>
    <p>  Puns.. For puns.. create,search,edit some of  the coldest,cringiest dad jokes!</a>.</p>
    <p> In the Jokes area,press "Details" to find  the answer to the question(its a pun) </a></p>
    <p> im sorry for some of the jokes in here</a></p>
</div>
